<% @title = "新規投稿" %>

<form action="/articles" method="post">
    <div>
        <label for="title">タイトル</label>
        <input type="text" id="title" name="title" required placeholder="例：睡眠不足">
    </div>
    <div>
        <label for="body">本文</label>
        <textarea id="body" name="body" placeholder="例：仕事が終わってからプラクティスに取り組むと、寝る時間が少なくなるとわかった。"></textarea>
    </div>
    <div class="button-wrapper">
        <a href="/articles" class="button">キャンセル</a>
        <input type="submit" value="保存" class="button">
    </div>
</form>
