<% @title = "新規投稿" %>

<form action="/articles" method="post">
    <div>
        <input type="text" id="title" name="title" required>
    </div>
    <div>
        <textarea id="body" name="body"></textarea>
    </div>
    <div class="button-wrapper">
        <a href="/articles" class="button">キャンセル</a>
        <input type="submit" value="保存" class="button">
    </div>
</form>
