<% @title = "新規投稿" %>

<form action="/articles" method="post">
    <div>
        <input type="text" id="title" name="title">
    </div>
    <div>
        <textarea id="body" name="body"></textarea>
    </div>
    <div>
        <input type="submit" value="保存" class="button">
    </div>
</form>
